APP_NAME=pwrda
APP_ENV=local
APP_KEY=base64:0hu+F+wivOKg6n1eMa/n4RVgf39m7bQPl6/1xNLCiak=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
# LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=local
DB_USERNAME=postgres
DB_PASSWORD=Postgres@123
DB_TABLE_PREFIX=tbl_


DB_HOST2=127.0.0.1
DB_PORT2=5432
DB_DATABASE2=telemetry
DB_USERNAME2=postgres
DB_PASSWORD2=Postgres@123

SESSION_ENCRYPT=false
SESSION_PATH=/


SESSION_DRIVER=redis
SESSION_LIFETIME=1000
SESSION_DOMAIN="10.147.8.171"
CACHE_STORE=redis
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=redis
MEMCACHED_HOST=memcached
BROADCAST_DRIVER=log

REDIS_HOST=127.0.0.1 
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CLIENT=phpredis

MAIL_MAILER=smtp
MAIL_HOST=relay.nic.in
MAIL_PORT=25
MAIL_USERNAME=test@test.com
MAIL_PASSWORD="NNNNN"
MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS=no-reply@test.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

JWT_TTL=10
JWT_REFRESH_TTL=43200
JWT_COOKIE_SECURE=true
JWT_COOKIE_SAMESITE=lax
ALLOWED_DOMAINS="127.0.0.1:8000,127.0.0.1,10.147.8.171"
FRONTEND_URL="http://10.147.8.171:4200"
HTTPS = "off"

SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax
SESSION_HTTP_ONLY=true
IS_SCHEDULER=false
X_API_KEY="d7aa65059f3060cc4e1f18c1c53eae29674ad09c0ecd2ee4c7d40ed50bed728a"
IP_API_KEY="d7aa65059f3060cc4e1f18c1c53eae29674ad09c0ecd2ee4c7d40ed50bed728a"
IP_GET_CAF_DATA='https://fasttrack.punjab.gov.in/testportalnode/api/integration/getCAFData'
IP_GET_TOKEN='https://fasttrack.punjab.gov.in/testportalnode/api/iptoken/gettoken'
IP_APP_STATUS="https://fasttrack.punjab.gov.in/testportalnode/api/integration/UpdateStatus"
TRUSTED_IP_REFERER='https://fasttrack.punjab.gov.in/'
JWT_SECRET=CDARhoSfvCAAG1PEgJbXAjV8huEemtS28CTbnNEqPjvy4wUzIz4YNM0XccjjVSp7


PAGINATION_DEFAULT_LIMIT=25
PAGINATION_MAX_LIMIT=100

FRONTEND_URL='http://localhost:4200'
FCM_SERVER_KEY='AAAAMN_Hc7c:APA91bHUBZhbyQCzUNzlRtjisGwBE8AFc1hGomg184SfGFpOUVY4wrdYgjy0BSyBva1j1Mnxi-zNXKkmbQVxh2nyjAslF3hiyYVY6w_b2C6YJ-qiCQdclV4awCTwaYJvlyKIyn9TYqpW'
